/* GENERAL */

body{
	color: #666;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

/* HEADER */

.bg-header{
	background: #fff;
}

.navbar{
	min-height: 80px;
}

.navbar-light .navbar-nav .nav-link{
	color: #000;
}

.navbar-light .navbar-toggler{
    color: #000;
    border-color: #000;
}

.navbar a.nav-link{
	font-size: 16px;
	font-weight: 600;
}

@media (min-width: 768px){
	.navbar-expand-md .navbar-nav .nav-link {
    	padding-right: 10px;
    	padding-left: 10px;
	}
}

/* HOME SECTION */

.home{
	background: url('../images/mars.jpg');
	background-position: center;
	background-size: cover;
    padding: 100px 0;
}

.home .title{
	color: #fff;
	font-weight: 500;
	font-size: 50px;
	margin-bottom: 20px;
}

.home .subtitle{
	color: #fff;
	font-weight: 400;
	font-size: 25px;
	margin-bottom: 0;
}

.home .description{
	font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    color: #fefefe;
    margin-bottom: 40px;
}

.home img{
    width: 200px;
}

/* INTRO */

.intro{
	padding: 100px 0;
}

.intro .card{
	text-align: center;
	-webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.intro .card:hover{
	box-shadow: 2.5px 4.33px 10px 0px rgba( 0, 0, 0, 0.06);
	border: 1px solid #0094ff;
}

.intro .card-body{
	padding: 40px 20px;
}

.intro .title{
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #222;
}

.intro .description{
	font-size: 14px;
	line-height: 25px;
	font-weight: 300;
	margin: 0;
}

.intro .description img{
	width: 130px;
}

.intro i{
	font-size: 26px;
	color: #542a21;
	margin-bottom: 20px;
}

/* VIDEO */

.video{
	background: #542a21 url(../images/mars.jpg);
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	position: relative;
	text-align: center;
	padding: 100px 0;
}

.video:before{
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(84, 42, 33, 0.9);
}

.video .title{
	margin: 0;
	color: #fff;
	font-weight: 600;
	font-size: 32px;
	margin-bottom: 50px;
	text-align: center;
}

.video .btn-video{
	width: 80px;
    height: 80px;
    background: rgba(0,0,0,0.3);
    font-size: 60px;
    display: inline-block;
    line-height: 83px;
    text-align: center;
    border-radius: 50%;
    color: white;
}

/* FEATURES */

.features{
    padding: 100px 0;
}

.features .phone-img{
    width: 300px;
    text-align: center;
}

.features h3{
    margin: 0;
    color: #222;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;
}

.features h4{
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    color: #222;
}

.features p{
    font-size: 14px;
    line-height: 27px;
    color: #656565;
    padding-top: 10px;
}

/* CLIENTS */

.clients{
	background: #f9f9f9;
    padding: 100px 0;
    text-align: center;
}

.clients .title{
    font-size: 32px;
    font-weight: 600;
    color: #222;
}

.clients .description{
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 40px;
}

.clients .card{
	box-shadow: 2.5px 4.33px 10px 0px rgba( 0, 0, 0, 0.06);
}

.clients .card-body{
	padding: 40px 20px;
}

.clients .user-image{
	width: 120px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.clients img{
	width: 600px;
}

.clients .user-title{
	font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #222;
}

.clients .user-info{
	font-size: 12px;
	font-weight: 400;
}

.clients .user-description{
	font-size: 14px;
	line-height: 25px;
	font-weight: 400;
	margin: 0;
}

/* COUNTER */

.counter{
	background: -moz-linear-gradient( 9deg, #0094ff 0%, #003b66 100%);
    background: -webkit-linear-gradient( 9deg, #0094ff 0%, #003b66 100%);
    background: -ms-linear-gradient( 9deg, #0094ff 0%, #003b66 100%);
	text-align: center;
	padding: 50px 0;
}

.counter .number{
	font-size: 50px;
	font-weight: 500;
	color: #fff;
}

.counter .title{
	font-size: 20px;
	font-weight: 200;
	margin: 0;
	color: #fff;
}

/* PRICING */

.pricing{
	padding: 100px 0;
	text-align: center;
}

.pricing .title{
    font-size: 32px;
    font-weight: 600;
    color: #222;
}

.pricing .description{
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 40px;
}

.pricing .card{
	box-shadow: 2.5px 4.33px 10px 0px rgba( 0, 0, 0, 0.06);
}

.pricing .card-header{
	background: -moz-linear-gradient( 9deg, #0094ff 0%, #003b66 100%);
    background: -webkit-linear-gradient( 9deg, #0094ff 0%, #003b66 100%);
    background: -ms-linear-gradient( 9deg, #0094ff 0%, #003b66 100%);
	font-size: 24px;
	font-weight: 500;
	color: white;
	text-transform: uppercase;
}

.pricing span{
	font-size: 18px;
	font-weight: 600;
	color: #222;
}

.pricing .balance{
	font-size: 30px;
	line-height: 40px;
}

.pricing ul li{
	list-style-type: none;
}

/* NEWS */

.news{
	background: #f9f9f9;
	padding: 100px 0;
	text-align: center;
}

.news .title{
    font-size: 32px;
    font-weight: 600;
    color: #222;
}

.news .description{
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 40px;
}

.news .card{
	box-shadow: 2.5px 4.33px 10px 0px rgba( 0, 0, 0, 0.06);
}

.news .card-body{
	padding: 20px;
}

.news .card-title{
	font-size: 20px;
	margin-bottom: 5px;
	color: #222;
}

.news span{
	font-size: 12px;
	padding-right: 10px;
}

.news .card-text{
	padding: 20px 0;
	margin: 0;
}

/* CONTACT */

.contact{
    padding: 100px 0;
    text-align: center;
}

.contact .title{
    font-size: 32px;
    font-weight: 600;
    color: #222;
}

.contact .description{
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
    margin-bottom: 40px;
}

.contact .form-control{
    border-radius: 25px;
    height: 50px;
}

/* FOOTER */

.footer{
    background: #222;
	padding: 50px 0;
	text-align: center;
}

.footer .logo{
	margin-bottom: 20px;
}

.footer .social-links{
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0;
}

.footer .social-links li{
	height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50%;
    margin: 0 5px;
    background: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
}

.footer .social-links li a i{
	font-size: 18px;
	color: #000;
}

.footer .copyright{
	font-size: 14px;
	font-weight: 300;
	margin: 0;
	color: #fff;
}

/* BUTTONS */

.btn-default{
	background: transparent;
	color: #fff;
	border-color: #fff;
	padding: 10px 15px;
	-webkit-transition: 0.6s ease-in-out;
    -moz-transition: 0.6s ease-in-out;
    transition: 0.6s ease-in-out;
}

.btn-default:hover{
	background: #fff;
	color: #222;
}

.btn-primary{
	background: #542a21 !important;
	border-color: #542a21 !important;
}